In [33]:
import pandas as pd

In [34]:
df = pd.read_csv("https://raw.githubusercontent.com/opennepal/odp-census/master/Population%20by%20mother%20tongue%2C%20sex%20and%20age%20groups/data.csv")
df.head(6)

,District,Zone,Ecological Belt,Development Region,Year (BS),Year (AD),Caste,Indicator,Value
0,Achham,Seti,Hill,Far-Western,2068/69,2011/12,Nepali,Male,80304
1,Achham,Seti,Hill,Far-Western,2068/69,2011/12,Nepali,Female,90641
2,Achham,Seti,Hill,Far-Western,2068/69,2011/12,Achhami,Male,38070
3,Achham,Seti,Hill,Far-Western,2068/69,2011/12,Achhami,Female,45469
4,Achham,Seti,Hill,Far-Western,2068/69,2011/12,Magar,Male,515
5,Achham,Seti,Hill,Far-Western,2068/69,2011/12,Magar,Female,443

In [35]:
df['Year (BS)'].unique()

array(['2068/69'], dtype=object)

In [36]:
df['Ecological Belt'].unique()

array(['Hill', 'Mountain', 'Terai'], dtype=object)

In [37]:
df['Caste'].count()

4550

In [38]:
df.columns

Index(['District', 'Zone', 'Ecological Belt', 'Development Region',
       'Year (BS)', 'Year (AD)', 'Caste', 'Indicator', 'Value'],
      dtype='object')

In [39]:
df = df[['District', 'Zone', 'Ecological Belt', 'Development Region', 'Caste', 'Indicator', 'Value']]
df.head()

  District  Zone Ecological Belt Development Region    Caste Indicator  Value
0   Achham  Seti            Hill        Far-Western   Nepali      Male  80304
1   Achham  Seti            Hill        Far-Western   Nepali    Female  90641
2   Achham  Seti            Hill        Far-Western  Achhami      Male  38070
3   Achham  Seti            Hill        Far-Western  Achhami    Female  45469
4   Achham  Seti            Hill        Far-Western    Magar      Male    515

In [40]:
df.rename(columns={"Ecological Belt": "Ecological_Belt", "Development Region": "Development_Region"}, inplace=True)

In [41]:
df.columns

Index(['District', 'Zone', 'Ecological_Belt', 'Development_Region', 'Caste',
       'Indicator', 'Value'],
      dtype='object')

In [42]:
df.to_json('../Data/data.json', orient='records')